{
	auto_https off
	admin off
}

your-tailscale-node-name.ts.net:4777 {
	tls ./certs/your-tailscale-node-name.ts.net.crt ./certs/your-tailscale-node-name.ts.net.key

	reverse_proxy localhost:4776 {
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto https
		header_up X-Forwarded-Host {host}
	}
}
